<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线情况</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{$Think.config.parse_str.__CSS__}bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}animate.min.css" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}style.min.css?v=4.1.0" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}sign-count.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>考勤情况</h5>
        </div>
        <div class="ibox-content">
            <div class="main">
                <div class="title">
                    <form class="form-inline" action="{:url('Sign/online')}" method="get" id="date-form">
                        <label>组别：</label>
                        <select class="form-control" id="group" name="group">
                           
                        </select>
                        <label>人员</label>
                        <select class="form-control" id="personnel" name="personnel">
                
                        </select>
                        <label>周数</label>
                        <select class="form-control" id="weeks" name="weeks">
                            
                        </select> 
                    </form>
                    <div>
                        <div>
                            <h2>王巍瑾 在线300分钟 缺勤20分钟</h2>
                        </div>
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <th>16</th>
                                <th>17</th>
                                <th>18</th>
                                <th>19</th>
                                <th>20</th>
                                <th>21</th>
                                <th>22</th>
                            </tr>
                            <tr>
                                <td>3123</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                                                        <tr>
                                <td>3123</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                                                        <tr>
                                <td>3123</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                                                        <tr>
                                <td>3123</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                                                        <tr>
                                <td>3123</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
    zNodes = '';
</script>
<script src="{$Think.config.parse_str.__JS__}jquery.min.js?v=2.1.4"></script>
<script src="{$Think.config.parse_str.__JS__}bootstrap.min.js?v=3.3.6"></script>
<script src="{$Think.config.parse_str.__JS__}content.min.js?v=1.0.0"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/layer/laydate/laydate.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/sweetalert/sweetalert.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/layer/layer.min.js"></script>
<link rel="stylesheet" href="{$Think.config.parse_str.__JS__}plugins/zTree/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="{$Think.config.parse_str.__JS__}plugins/zTree/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="{$Think.config.parse_str.__JS__}plugins/zTree/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="{$Think.config.parse_str.__JS__}plugins/zTree/jquery.ztree.exedit-3.5.js"></script>
<script src="{$Think.config.parse_str.__PUBLIC__}js/bootstrap.min.js"></script>
<script>

    


</script>
</body>
</html>
