<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线情况</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{$Think.config.parse_str.__CSS__}bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}animate.min.css" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}style.min.css?v=4.1.0" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="{$Think.config.parse_str.__CSS__}sign-count.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>考勤情况</h5>
        </div>
        <div class="ibox-content">
            <div class="main">
                <div class="title">
                    <form class="form-inline" action="{:url('Sign/count')}" method="get" id="date-form">
                        <label>组别：</label>
                        <select class="form-control" id="group" name="group">
                            <option value="0">全部</option>
                            {volist name="groups" id="vo"}
                                <option value="{$vo.group_id}">{$vo.group_name}</option>
                            {/volist}
                        </select>
                        <label>人员</label>
                        <select class="form-control" id="personnel" name="user">
                            <option value="0">全部</option>
                            {volist name="users" id="vo"}
                                <option value="{$vo.user_id}">{$vo.name}</option>
                            {/volist}
                        </select>
                        <label>周数</label>
                        <select class="form-control" id="weeks" name="week">
                            <option value='0'>本周</option>
                            <option value='1'>第1周</option>
                            <option value='2'>第2周</option>
                            <option value='3'>第3周</option>
                            <option value='4'>第4周</option>
                            <option value='5'>第5周</option>
                            <option value='6'>第6周</option>
                            <option value='7'>第7周</option>
                            <option value='8'>第8周</option>
                            <option value='9'>第9周</option>
                            <option value='10'>第10周</option>
                            <option value='11'>第11周</option>
                            <option value='12'>第12周</option>
                            <option value='13'>第13周</option>
                            <option value='14'>第14周</option>
                            <option value='15'>第15周</option>
                            <option value='16'>第16周</option>
                            <option value='17'>第17周</option>
                            <option value='18'>第18周</option>
                            <option value='19'>第19周</option>
                            <option value='20'>第20周</option>                           
                        </select> 
                    </form>
                    <div>
                        {volist name="count" id="vo"}
                            <div>
                                <div>
                                    <h2>王巍瑾 在线300分钟 缺勤20分钟</h2>
                                </div>
                                <table class="table table-bordered table-condensed">
                                    <tr>
                                        <th>16</th>
                                        <th>17</th>
                                        <th>18</th>
                                        <th>19</th>
                                        <th>20</th>
                                        <th>21</th>
                                        <th>22</th>
                                    </tr>
                                    <tr>
                                        {volist name="vo" id="date"}
                                            <td>
                                                {volist name="date.online" id="time"}
                                                    <p>{$time[0]|date='H:i:s',###} {$time[1]|date='H:i:s',###}</p>
                                                {/volist}
                                                {volist name="date.noSign" id="time"}
                                                    <p style="color: red">{$time[0]|date='Y-m-d H:i:s',###} {$time[1]|date='Y-m-d H:i:s',###}</p>
                                                {/volist}
                                            </td>
                                        {/volist}
                                    </tr>
                                </table>                           
                            </div>
                        {/volist}
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
    zNodes = '';
</script>
<script src="{$Think.config.parse_str.__JS__}jquery.min.js?v=2.1.4"></script>
<script src="{$Think.config.parse_str.__JS__}bootstrap.min.js?v=3.3.6"></script>
<script src="{$Think.config.parse_str.__JS__}content.min.js?v=1.0.0"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/layer/laydate/laydate.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/sweetalert/sweetalert.min.js"></script>
<script src="{$Think.config.parse_str.__JS__}plugins/layer/layer.min.js"></script>
<link rel="stylesheet" href="{$Think.config.parse_str.__JS__}plugins/zTree/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="{$Think.config.parse_str.__JS__}plugins/zTree/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="{$Think.config.parse_str.__JS__}plugins/zTree/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="{$Think.config.parse_str.__JS__}plugins/zTree/jquery.ztree.exedit-3.5.js"></script>
<script src="{$Think.config.parse_str.__PUBLIC__}js/bootstrap.min.js"></script>
<script>
    $('#group').find("option[value={$Think.get.group|default=0}]").attr("selected",true);
    $('#personnel').find("option[value={$Think.get.user|default=0}]").attr("selected",true);
    $('#weeks').find("option[value={$Think.get.week|default=0}]").attr("selected",true);

    $('#group').on('change', function(event) {
        $('#date-form').submit();
    });
    $('#personnel').on('change', function(event) {
        $('#date-form').submit();
    });
    $('#weeks').on('change', function(event) {
        $('#date-form').submit();
    });



</script>
</body>
</html>
