<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三月软件小组签到系统</title>
	<link rel="stylesheet" href="{$Think.config.parse_str.__PUBLIC__}css/bootstrap.min.css">
	<link rel="stylesheet" href="{$Think.config.parse_str.__CSS__}public-base.css">
	<script src="{$Think.config.parse_str.__PUBLIC__}js/jquery-3.0.0.min.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/bootstrap.min.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/layer/layer.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/public-base.js"></script>	
	{block name="link"}{/block}
</head>
<body>
	<div class="backgd">
		<div class="title">
			<nav>
				<label class="logo"> 
					
				</label>
				<div class="right-menu">
					<ul class="menu">
						<a href="{:url('Homepage/index')}"><li>首页</li></a>
						<a href="{:url('Schedule/count')}"><li>课表统计</li></a>
						<a href="{:url('Schedule/index')}"><li>查看课表</li></a>
						<a href="{:url('attendance/test')}"><li>本周考勤统计</li></a>
						
					</ul>
					<div class="exit">
						
						<a href="{:url('admin/index/index')}">管理</a>
						<a href="{:url('Index/exitlogin')}">退出</a>
					</div>					
				</div>
			</nav>
		</div>
		<div class="main">
			{block name="main"}内容{/block}
		</div>
		<div class="footer">
			<span>三月软件@版权所有</span>
		</div>
	</div>
	{block name="js"}{/block}
</body>
</html>