<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三月软件小组签到系统</title>
	<link rel="stylesheet" href="{$Think.config.parse_str.__PUBLIC__}css/bootstrap.min.css">
	<link rel="stylesheet" href="{$Think.config.parse_str.__CSS__}public-base.css">
	<script src="{$Think.config.parse_str.__PUBLIC__}js/jquery-3.0.0.min.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/bootstrap.min.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/layer/layer.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/public-base.js"></script>	
	{block name="link"}{/block}
</head>
<body>
	<div class="backgd">

		<header>
			<nav class="top">
				<a class="logo" href=""><img src="{$Think.config.parse_str.__IMAGE__}logo.png" alt=""></a>
				<ul>

					<li class="nav_options_bottom exit_font">
					{if condition="$Think.session.userid!=''"}
							<a href="" id="exit"><i>退出</i></a>
						{else /}
							<a href="{:url('home/index/index')}"><i>登陆</i></a>
					{/if}
					</li>
					<li class="nav_options_top management_font"><a href="{:url('admin/login/index')}"><i>管理</i></a></li>
					<li class="nav_options_bottom"><a href="{:url('home/attendance/test')}"><i>本周考勤统计</i></a></li>
					<li class="nav_options_top"><a href="{:url('home/schedule/index')}"><i>查看课表</i></a></li>
					<li class="nav_options_bottom"><a href="{:url('home/schedule/count')}"><i>课表统计</i></a></li>
					<li class="nav_options_top"><a href="{:url('home/homepage/index')}"><i>首页</i></a></li>

				</ul>
			</nav>
		</header>
		<div class="main">
			{block name="main"}内容{/block}
		</div>

		<footer>
			<span>三月是最棒的</span>
		</footer>
	</div>
	{block name="js"}{/block}
	<script type="text/javascript">
		$('#exit').on('click', function(){
			$.post(
				"{:url('Index/exitlogin')}",
				{},
				function(data){
					if(data.code == 1){
						window.location.reload();
					}
				}
			);
		});
	</script>
</body>
</html>