<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{block name="title"}标题{/block}</title>
	<link rel="stylesheet" href="{$Think.config.parse_str.__PUBLIC__}css/bootstrap.min.css">
	<link rel="stylesheet" href="{$Think.config.parse_str.__CSS__}public-base.css">
	<script src="{$Think.config.parse_str.__PUBLIC__}js/jquery-3.0.0.min.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/bootstrap.min.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/layer/layer.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/public-base.js"></script>	
	{block name="link"}{/block}
</head>
<body>
	<div class="backgd">
		<div class="title">
			<nav>
				<div class="title-left">
						<label class="logo"></label>
						<span>三月软件</span>
				</div>
				<div class="title-right">
					<ul>
						<li class="picture">
							<div class="dropdown">
   								<img src="{$Think.config.parse_str.__IMAGE__}menu.png" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    								<a href="{:url('User/message')}"><li>个人信息</li></a>
    								<a href="{:url('attendance/test')}"><li>本周考勤排行</li></a>
									<a href="{:url('Schedule/index')}"><li>查看课表</li></a>
									<a href="{:url('Schedule/count')}"><li>课表统计</li></a>
									<a href="{:url('Homepage/index')}"><li>返回首页</li></a>
									<a href="{:url('Index/exit')}"><li>退出</li></a>
  								</ul>
							</div>	
						</li>
						<li class="user">
							<div>
								<p>
									欢迎
									<a href="{:url('User/message')}">{$user.name}</a>
									登陆
								</p>
							</div>
						</li>
					</ul>
				</div>				
			</nav>
		</div>
		<div class="main">
			{block name="main"}内容{/block}
		</div>
		<div class="footer">
			<span>三月软件@版权所有</span>
		</div>
	</div>
	{block name="js"}{/block}
</body>
</html>