<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三月签到系统</title>
    <link rel="stylesheet" type="text/css" href="{$Think.config.parse_str.__CSS__}bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.parse_str.__CSS__}index.css">
    {block name="css"}{/block}
</head>
<body>
    <header>
        <div id="title">
            <div id="logo_div">
                <img src="{$Think.config.parse_str.__IMAGE__}Logo.png"  class="img-circle">
            </div>
            <div id="sign_div">
                三月签到系统
            </div>
        </div>
    </header>
    <center>
        {block name="content"}{/block}
    </center>
    <footer>
        <center>三月签到系统页脚</center>
    </footer>

    {block name="js"}{/block}
</body>
</html>