<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三月签到系统</title>
    <link rel="stylesheet" type="text/css" href="{$Think.config.parse_str.__CSS__}bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.parse_str.__CSS__}base.css">
    {block name="css"}{/block}
</head>
<body>
    <header style="background: url('{$Think.config.parse_str.__IMAGE__}header.gif')">
        <div id="title">
            <div id="logo_div">
                <img src="{$Think.config.parse_str.__IMAGE__}Logo.png"  class="img-circle">
            </div>
            <div id="sign_div">
                三月签到系统
            </div>
        </div>
    </header>
    <!--<center>-->

    <!--</center>-->
    <div id="content">
        {block name="content"}{/block}
    </div>
    <footer style="background: url('{$Think.config.parse_str.__IMAGE__}header.gif')">
        <div>三月签到系统页脚</div>
    </footer>
    <script type="text/javascript" src="{$Think.config.parse_str.__JS__}jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="{$Think.config.parse_str.__JS__}bootstrap.min.js"></script>
    <script type="text/javascript" src="{$Think.config.parse_str.__PUBLIC__}js/layer/layer.js"></script>
    {block name="js"}
    {/block}
</body>
</html>