<!DOCTYPE html>
<html>
<head>
	<title>三月软件签到系统</title>
	<link rel="stylesheet" href="{$Think.config.parse_str.__PUBLIC__}css/bootstrap.min.css">
	<link rel="stylesheet" href="{$Think.config.parse_str.__CSS__}index-index.css">
	<script src="{$Think.config.parse_str.__PUBLIC__}js/jquery-3.0.0.min.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/bootstrap.min.js"></script>
	<script src="{$Think.config.parse_str.__PUBLIC__}js/layer/layer.js"></script>
	<!-- <script src="{$Think.config.parse_str.__PUBLIC__}js/public-base.js"></script> -->
</head>
<body>
	<div>
		
	</div>
</body>
</html>