.backgd{
	background-image: url(../image/scheducount.png);
	background-size: 100% 100%;
}
.main{
	color: #FFF;
}
.bg-up, .bg-down{
	height: 50px;
	background-size: 100% 100%;
	width: 100%;
}
.bg-up{
	background-image: url(../image/attendance-up.png);
	margin-top: 30px;
}
.bg-down{
	background-image: url(../image/attendance_down.png);
}
.bg-middle{
	background-image: url(../image/attendance_middle.png);
	background-size: 100% 100%;
}
.bg-middle table{
	margin-bottom: 0;
}
.term{
	height:  60px;
	line-height: 60px;
}
.term label,.term select{
	float: left;
}
.term select{
	width: 150px;
	margin-top: 15px;
}

