*{
    font-family: "微软雅黑","宋体";
}
#top_box{
    width: 79%;
    min-height: 300px;
    border: 1px solid #5b6a73;
    margin-left: 10%;
}
#under_box{
    width: 79%;
    min-height: 300px;
    border: 1px solid #5b6a73;
    margin-left: 10%;
    margin-top: 10px;
}
#topleft_box{
    display: inline-block;
    float: left;
    width: 59%;
    min-height: 150px;
    border: 1px solid #00a0e9;
}
#topright_box{
    display: inline-block;
    float: left;
    width: 40%;
    min-height: 150px;
    margin-left: 5px;
    border: 1px solid #00a0e9;
}
#ownaAttendance_box{
    width: 91%;
    margin-top: 10px;
    margin-left: 4%;
}