body{
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
    min-width: 1000px;
}
header{
    width: 100%;
    height: 100px;
    background: #01204f;
}

footer{
    color: white;
    width: 100%;
    height: 100px;
    background: #01204f;
    text-align: center;
}
#title{
    width: 60%;
    margin: 0 20%;
}
#logo_div{
    margin-left: 10%;
    float: left;
    display: inline-block;
    width: 100px;
    height: 100px;
}
#sign_div{
    float: left;
    margin-left: 50px;
    height: 100px;
    display: inline-block;
    color: #d8e2d3;
    font-size: 50px;
    line-height: 100px;
    font-weight: 400;
    text-shadow: -1px -1px 0 #fff,1px 1px 0 #333,1px 1px 0 #444;
    letter-spacing: 10px;
}
#content{
    background: #fbfbfc;
    min-height: 500px;
}