#nav_div{
    width: 100%;
    height: 50px;
    /*border: 1px solid;*/
    background: #f8f8f8;
}
#hometop_div{
    width: 100%;
    /*height: 700px;*/
    /*border: 1px solid;*/
}
.homebox{
    text-align: center;
}
.my_btn{
    width: 100px;
    margin: 20px;
}
.box{
    width: 50%;
    margin-left: 25%;
}
#boxtitle{
    height: 40px;
    font-size: 20px;
    border-top: 2px solid #5b6a73;
    line-height: 40px;
}
#homeinfo_div{
    height: 250px;
    border: 1px solid;
    overflow-y: auto;
    /*overflow: hidden;*/
}

