*{
    font-family: "微软雅黑","宋体";
    padding: 0;
    margin: 0;
}
html, body, .background{
    height: 100%;
    width: 100%;
} 
.title span{
     font-size: 30px;
    color: #1ab394;
    text-shadow: 0px 1px 0px #e5e5ee;
    font-weight: 900;
    letter-spacing: 3px;
}
.title, .footer{
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: #737373;
}
.background{
    background-image: url(../image/loginbackgd.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#login_div{
    color: #1ab394;
    margin: 0 auto 0;
    width: 500px;
    height: 250px;
    background-color: rgba(255,255,255,.5);
    border: 3px solid #f1f8fd;
    /*background-color: #f1f8fd;*/
}
#login_div>form>div:first-child{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
#input_span{
    display: block;
    height: 30px;
    font-size: 15px;
}
#input_div{
    margin: 0 auto;
    width: 400px;
}
#info_span{
    color:red;
    display: block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    visibility: hidden;
}
#up_btn{
    /*margin-top: 30px;*/
    margin-left: 80px;
}
#into_btn{
    /*margin-top: 30px;*/
    margin-left: 60px;
}
#info_span2{
    margin-left: 50px;
    color:red;
}
textarea{
    resize:none;
}