*{
    padding: 0;
    margin: 0;
}
html, body, .background{
    height: 100%;
    width: 100%;
} 
.title{
     font-size: 30px;
}
.title, .footer{
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: #1F5B06;
}
.background{
    background-image: url(../image/loginbackgd.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#login_div{
    color: #7BCA5B;
    margin: 0 auto 0;
    width: 500px;
    height: 250px;
    background-color: white;
    border: 3px solid #52A731;
    /*background-color: #f1f8fd;*/*/
}
#login_div>form>div:first-child{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
#input_span{
    display: block;
    height: 30px;
    font-size: 15px;
}
#input_div{
    margin: 0 auto;
    width: 400px;
}
#info_span{
    color:red;
    display: block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    visibility: hidden;
}
#up_btn{
    /*margin-top: 30px;*/
    margin-left: 100px;
}
#into_btn{
    /*margin-top: 30px;*/
    margin-left: 60px;
}
#info_span2{
    margin-left: 50px;
    color:red;
}
textarea{
    resize:none;
}