*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: black;
	text-decoration: none;
}
li{
	list-style: none;
}
html, body{
	height: 100%;
} 
.backgd{
	min-height: 100%;
	position: relative;
	/*background-color: #000;*/
}
.title{
	width: 100%;
	height: 80px;
	background: #C23001;
	min-width: 850px;
}
.title>nav{
	width: 57%;
	min-width: 875px;
	/*border: 1px solid blue;*/
	height: 80px;
	margin: 0 auto;
}
.logo{
	width: 235px;
	height: 80px;
	background-image: url(../image/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left; 
	margin: 0;
}
.right-menu{
	float: right;
	height: 80px;
}

.menu{
	height: 80px;
	float: left;
}
.menu li{
	float: left;
	height: 80px;
	line-height: 80px;
	padding-right: 29px;
	padding-left: 29px;
	color: #FFF;
	font-family: "微软雅黑";
	font-size: 20px;
	border-left: 1px solid #C23001;
	border-right: 1px solid #C23001;
}
.menu li:hover{
	background-color: #010000;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
.exit{
	float: left;
	color: #FFF;
	height: 80px;
	line-height: 90px;
	font-size: 15px;
	width: 70px;
	text-align: right;
}
.exit a{
	color: #FFF;
}
.footer{
	background-color: #C23001;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 60px;
	min-width: 875px;
	line-height: 60px;
	color: #FFF;
}
.main{
	width: 57%;
	min-width: 875px;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 80px;
}