.backgd{
	background-image: url(../image/scheducount.png);
	background-size: 100% 100%;

}
.major{
	width: 100%;
	color: #FFF;
}
.major-title{
	text-align: center;
	width: 100%;
}
.major-title span{
	display: block;
	width: 50px;
	height: 0;
	border:2px solid white;
	border-radius: 2px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.major-content{

}
.content-left{
	width: 20%;
	float: left;
}
.content-left p{
	display: block;
	width: 70px;
	height: 0;
	border:3px solid #28CAFB;
	border-radius: 3px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.content-left label{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 45px;
	text-align: center;
	border:3px solid #28CAFB;
	border-radius: 25px;
	margin: 0 auto;
	color: #28CAFB;
	font-size: 10px;
}
.content-left ul li{
	padding-left: 50px;
	height: 30px;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 35px 20px;
}
.content-left ul li:first-child{
	background-image: url(../image/haveclass.png);
}
.content-left ul li:last-child{
	background-image: url(../image/noclass.png);
}
.content-right{
	width: 80%;
	float: left;
	background-color:#010204; 
}
.content-right>div:last-child button{
	float: right;
	border:2px solid #34BDC5;
	background-color: #010204;
	
}
.content-right>div:last-child button:last-child{
	margin-right: 20px;
}
.content-right>div:last-child{
	padding-right:3%;
	margin-bottom: 3%; 
	height: 20px;
}

.schedule-section{
	width: 15%;
	height: 100%;
	float: left;
}
.schedule-section ul{
	width: 90%;
	text-align: center;
	margin-top: 150px;
}
.schedule-section ul li{
	height: 40px;
	line-height: 40px;
}
.schedule-section ul li span{
	color: #252628;
	font-size: 20px;
}
.schedule-section ul li label{
	font-size: 25px;
}
.schedule-section ul li img{
	display: block;
	margin-top: 5px;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	cursor: pointer;
}

.schedule{
	margin-top: 20px;
	width: 82%;
	float: left;
}
.schedule td{
	color: white;
	height: 80px;
	cursor: pointer;
	width: 14.4%;
	border: 1px solid #CE6728;
	position: relative;
}
.schedule td img{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 20px;
}
.schedule td div{
	margin-bottom: 20px;
}
.week td {
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
}
.haveClass {
    background-color: #d9edf7;
}
.white{
	color: black !important;
}

.hint{
	position: absolute;
	z-index: 10;
	width: 94%;
	max-height: 200px;
	overflow: overlay;
	/*display: none;*/
}
.hint div div{
	float: left;
	font-size: 12px;
}
.hint button{
	float: right;
}

#hint2{
	width: 87%;
	background-color: #FFF;
	position: absolute;
	display: none;
	max-height: 200px;
    overflow: auto;
}
#hint2 ul{
	border-bottom: 1px solid #C23001;
	padding: 10px;
	cursor: pointer;
}

#hint2 li{
	
}
#hint2 li span:last-child{
	float: right;
}
