.setup{
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.setup>span{
	float: left;
}
.setup>select{
	float: left;
	width: 100px;
	margin-top: 10px;
	border: 1px solid #C23001;
}
.setup>div{
	float: right;
}
.seeStatus{
	float: right;
}
.seeStatus>span{
	float: left;
}
.seeStatus>select{
	float: left;
	width: 200px;
	margin-top: 10px;
	border: 1px solid #C23001;
}
.term-input{
	height: 120px;
    /*border: 1px solid blue;*/
    margin-top: 20px;
}
.term-input li{
	height: 40px;
    /*border: 1px solid red;*/
    line-height: 40px;
    border-bottom: 1px solid #9F9F9F;
}
.term-input>li>div,.term-input>li>label{
	float: left;
}
.term-input>li>label{
	margin: 0;
}
.term-input>li>div{
	width: 90%;
	float: right;
}
.term-input>li>div>span{
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.term-input>li>div>span:hover{
	color: #C23001;
}
#term-personnel{
	margin-top: 2px;
	width: 120px;
	border-color: #C23001;
}
.term{
	background-color: #C33000;
	min-height: 100px;
	width: 100%;
	color: #FFF;
}
.term label{
	font-weight: inherit;
}

.term-result{
	width: 100%;
	padding-top: 10px;
}

.term-result>label, .term-label{
	float: left;
}
.term-result>label{
	min-width: 80px;
    width: 8%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.term-label{
	width: 85%;
}
.term-label li{
	height: 40px;
	width: 100%;
	line-height: 40px;
	border-left: 5px solid #C23001;
	border-bottom: 1px solid #FFF;
	padding-left: 10px;
	/*overflow-x: hidden;*/
}

.term-but{
	float: right;
	width: 40px;
	height: 40px;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.term-label2 label{
	position: relative;
	float: left;
	color: white;
	margin: 0;
	padding: 0;
	margin-right: 25px;

}
.term-label2 label span{
	position: absolute;
	width: 15px;
	height: 15px;
	color: #C23001;
	background-color: #FFF;
    right: -15px;
    top: 12px;
    line-height: 15px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}
.foucus{
	border-left: 5px solid #FFF !important;
}
.personnel td{
	width:14.4%;
}
.personnel{
	margin-top: 20px;
}