.backgd{
	background-image: url(../image/background2.jpg);
	background-size: 100% 100%;

}
.setup{
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #28Cbfd;
}
.setup>span{
	float: left;
}
.setup>select{
	float: left;
	width: 100px;
	margin-top: 10px;
	/*border: 1px solid #C23001;*/
	border:1px solid #28cbfd;
	margin-right: 5px;
}
.setup>div{
	float: right;
}
.seeStatus{
	float: right;
	width: 200px;
}
.seeStatus>span{
	float: left;
}
.seeStatus>select{
	
	width: 200px;
	margin-top: 10px;
	/*border: 1px solid #C23001;*/
	border:1px solid #28cbfd;
}
.setup button{
    border: 2px solid #34BDC5;
    background-color: #010204;
    color: white;
}
.setup>button{
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}

.setup button:hover{
    color: white;
}
.seltButton{
	color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}
.term-input{
	/*height: 120px;*/
    /*border: 1px solid blue;*/
    margin-top: 20px;
}
.term-input li{
	min-height: 40px;
    /*border: 1px solid red;*/
    /*line-height: 40px;*/
    border-bottom: 1px solid #9F9F9F;
}
.term-input>li>div,.term-input>li>label{
	float: left;
}
.term-input>li>label{
	margin: 0;
	color: #28cbfd;
}
.term-input>li>div{
	width: 90%;
	float: right;
}
.term-input>li>div>span{
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	color: #9f9e9e;
}
.term-input>li>div>span:hover{
	/*color: #C23001;*/
	color:  #28cbfd;
}
#term-personnel{
	margin-top: 2px;
	width: 120px;
	/*border-color: #C23001;*/
	border-color:  #28cbfd;
}
.term{
	/*background-color: #C33000;*/
	min-height: 100px;
	width: 100%;
	color: #FFF;
	border: 3px solid #95928C;
}
.term label{
	font-weight: inherit;
}

.term-result{
	width: 100%;
	padding-top: 10px;
}

.term-result>label, .term-label{
	float: left;
}
.term-result>label{
	min-width: 80px;
    width: 8%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.term-label{
	width: 85%;
}
.term-label li{
	height: 40px;
	width: 100%;
	line-height: 40px;
	border-left: 5px solid rgba(0,0,0,0);
	border-bottom: 1px solid #C9C6C1;
	padding-left: 10px;
	/*overflow-x: hidden;*/
}

.term-but{
	float: right;
	width: 40px;
	height: 40px;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.term-label label{
	position: relative;
	float: left;
	color: white;
	margin: 0;
	padding: 0;
	margin-right: 25px;

}
.term-label label span{
	position: absolute;
	width: 15px;
	height: 15px;
	color: #C23001;
	background-color: #FFF;
    right: -15px;
    top: 3px;
    line-height: 15px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}
.foucus{
	border-left: 5px solid #C9C6C1 !important;
}
.personnel table{
	table-layout:fixed; 
}
.personnel td, .personnel th{
    border:1px solid #28cbfd !important; 
    width:14.4%;
	height: 10px;
    border:1px solid #28cbfd;
    text-overflow : ellipsis; 
	white-space : nowrap; 
	overflow : hidden;
	padding: 10px;
	cursor: pointer;
	
}
.tdText{
	width: 500px;
	height: 300px;
	background-color: #002325;
	color: white;
	border-radius: 10px;
}
.tdText>div{ 
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

.tdhidden{
	text-overflow:inherit !important; 
	overflow:visible !important; 
    white-space: pre-line !important;
    cursor: pointer !important;
}
.personnel{
	margin-top: 20px;
	color: #FFF;
}

.checkbox-inline{
	height: 30px;
	color: white;
	font-weight: 300;
	margin: 0;
	margin-left: 10px;
}
.modal-body{
	height: 300px;
	overflow-y: auto;
}
.modal-body>div{
	width: 100%;
	/*height: 200px;*/
	/*border:1px solid blue;*/
}
.modal-body>div>button{
	margin-right: 10px;
	margin-bottom: 10px;
}
.selt{
	color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}