{extend name="public/base"}
{block name="link"}
<link rel="stylesheet" type="text/css" href="{$Think.config.parse_str.__CSS__}attendance.css">
<!--<script  src="{$Think.config.parse_str.__JS__}Chart.js"></script>-->
<script  src="{$Think.config.parse_str.__JS__}Chart-1.0.1-beta.4.js"></script>
<script>
    $('.menu li:eq(3)').css('background','black');
    var data = {
        labels : ["星期一","星期二","星期三","星期四","星期五","星期六","星期日"],
        datasets : [
            {
                barItemName: "上周",
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                data : nowWeek
            },
            {
                barItemName: "本周",
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                data : lastWeek
            }
        ]
    };

    var chartBar = null;
    $(document).ready(function(){
        $.post("{:url('Attendance/getSbTime')}",function (data) {
            alert(data.now)
//        nowWeek = data.now;
//        lastWeek = data.last;
            var ctx = document.getElementById("myChart").getContext("2d");
            chartBar = new Chart(ctx).Bar(data);
            initEvent(chartBar, clickCall);

        });


    });
    window.onload = function(){
        $.post("{:url('Attendance/getSbTime')}",function (data) {
            alert(data.now)
//            nowWeek[0]=1;
//            nowWeek[1]=data.now[1];
//            nowWeek[2]=data.now[2];
//            nowWeek[3]=data.now[3];
//            nowWeek[4]=data.now[4];
//            nowWeek[5]=data.now[5];
//            nowWeek[6]=data.now[6];
//            lastWeek[0]=data.last[0];
//            lastWeek[1]=data.last[1];
//            lastWeek[2]=data.last[2];
//            lastWeek[3]=data.last[3];
//            lastWeek[4]=data.last[4];
//            lastWeek[5]=data.last[5];
//            lastWeek[6]=data.last[6];
        });
        var ctx = document.getElementById("myChart").getContext("2d");
        chartBar = new Chart(ctx).Bar(data,configs);
        initEvent(chartBar, clickCall);
        var legend = document.getElementById('legend');
        // 图例
        legend.innerHTML = chartBar.generateLegend();
    }
    function clickCall(evt){
        var activeBar = chartBar.getBarSingleAtEvent(evt);
        if ( activeBar !== null )
//            alert(activeBar.label + ": " + activeBar.barItemName + " ____ " + activeBar.value);
        layer.msg(activeBar.barItemName +activeBar.label + "在线: " + activeBar.value+"分钟");
    }

    function initEvent(chart, handler) {
        var method = handler;
        var eventType = "click";
        var node = chart.chart.canvas;

        if (node.addEventListener) {
            node.addEventListener(eventType, method);
        } else if (node.attachEvent) {
            node.attachEvent("on" + eventType, method);
        } else {
            node["on" + eventType] = method;
        }
    }

    var configs  = {
        scaleOverlay : false,  // 网格线是否在数据线的上面
        scaleOverride : false, // 是否用硬编码重写y轴网格线
        scaleSteps : null, //y轴刻度的个数
        scaleStepWidth : null, //y轴每个刻度的宽度
        scaleStartValue : null,  //y轴的起始值
        scaleLineColor : "rgba(0,0,0,.1)",// x轴y轴的颜色
        scaleLineWidth : 1,// x轴y轴的线宽
        scaleShowLabels : true,// 是否显示y轴的标签
        scaleLabel : "<%=value%>",// 标签显示值
        scaleFontFamily : "'Arial'",// 标签的字体
        scaleFontSize : 12,// 标签字体的大小
        scaleFontStyle : "normal",// 标签字体的样式
        scaleFontColor : "#666",// 标签字体的颜色
        scaleShowGridLines : false,// 是否显示网格线
        scaleGridLineColor : "rgba(0,0,0,.05)",    // 网格线的颜色
        scaleGridLineWidth : 1, // 网格线的线宽
        scaleBeginAtZero: false, // y轴标记是否从0开始
        scaleShowHorizontalLines: true, // 是否显示横向线
        scaleShowVerticalLines: true, // 是否显示竖向线
        barShowStroke : true, // 是否显示线
        barStrokeWidth : 2,   // 线宽
        barValueSpacing : 5,// 柱状块与x值所形成的线之间的距离
        barDatasetSpacing : 1,// 在同一x值内的柱状块之间的间距
        animation : true,//是否有动画效果
        animationSteps : 60,//动画的步数
        animationEasing : "easeOutQuart",// 动画的效果
        showTooltips: false, // 是否显示提示
        // 图例
        legendTemplate : '<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
        // 动画完成后调用的函数(每个柱上显示对应的数据)
        onAnimationComplete: function () {
            var ctx = this.chart.ctx;
            ctx.font = this.scale.font;
            ctx.fillStyle = this.scale.textColor;
            ctx.textAlign = 'center';
            ctx.textBaseline = 'bottom';
            this.datasets.forEach(function (dataset){
                dataset.bars.forEach(function (bar) {
                    ctx.fillText(bar.value, bar.x, bar.y);
                });
            });
        }
    };

</script>
{/block}
{block name="main"}
<div id="top_box">
    <div id="topleft_box">
        <div>最近两周在线时长对比图</div>
        <canvas id="myChart" width="450" height="400"></canvas>
        <div id="legend"></div>
    </div>
    <div id="topright_box">
        <div id="ownaAttendance_box">
            <p id="alltime"></p>
            <p id="weektime"></p>
            <p id="lasttime"></p>
        </div>
    </div>
</div>
<div id="under_box">


</div>
{/block}
{block name="js"}
<script>
    $(document).ready(function(){
        $.post("{:url('Attendance/getSum')}",function (data) {
            if(data.code==-1){
                $("#alltime").html("欢迎"+data.name+"同学来小组")
            }else if(data.code == 1){
                $("#alltime").html(data.name+"同学已经在小组学习了"+data.time)
            }
        })
        $.post("{:url('Attendance/getWeekSum')}",function (data) {
            if(data.code==-1){
                $("#weektime").html("本周暂无签到记录")
            }else if(data.code == 1){
                $("#weektime").html(data.name+"同学本周在线"+data.time)
            }
        })
        $.post("{:url('Attendance/lastOnline')}",function (data) {
            if(data.code==-1){
                $("#lasttime").html("快去签个到吧")
            }else if(data.code == 1){
                $("#lasttime").html("最后操作时间"+data.time)
            }
        })
    });

</script>
{/block}