{extend name="public/base" /}
{block name="link"}
	<link rel="stylesheet" href="{$Think.config.parse_str.__CSS__}schedule-count.css">
{/block}
{block name="main"}
<div>
	{$termtext}
	<form action="{:url('Schedule/count')}" method="post" id="test">
		<div class="setup clearfix">
			<span>当前周：</span>
			<select class="form-control" name="week" id="weeks">
				<option value='0'>本周</option>
				<option value='1'>第1周</option>
				<option value='2'>第2周</option>
				<option value='3'>第3周</option>
				<option value='4'>第4周</option>
				<option value='5'>第5周</option>
				<option value='6'>第6周</option>
				<option value='7'>第7周</option>
				<option value='8'>第8周</option>
				<option value='9'>第9周</option>
				<option value='10'>第10周</option>
				<option value='11'>第11周</option>
				<option value='12'>第12周</option>
				<option value='13'>第13周</option>
				<option value='14'>第14周</option>
				<option value='15'>第15周</option>
				<option value='16'>第16周</option>
				<option value='17'>第17周</option>
				<option value='18'>第18周</option>
				<option value='19'>第19周</option>
				<option value='20'>第20周</option>
			</select>	
			<div class="seeStatus">
				<span>
					查看：
				</span>
				<select class="form-control" name="status" id="seestatus">
					<option value='1'>有课人员表</option>
					<option value='2'>无课人员表</option>
				</select>
			</div>			
		</div>
		<div class="term">
			<div class="term-result clearfix">
				<label for="">筛选条件：</label>
					<div class="term-label">
					{volist name="term" id="vo" key="i" empty="$empty"}
						<div class='term-label2 {if condition="$i ==$Think.post.foucus"}foucus{/if}'>
							{volist name="vo" id="vo2" key="j"}
								<label>
									<input type='hidden' name='term[{$i-1}][{$j-1}][0]' value='{$vo2[0]}'>
									<input type='hidden' name='term[{$i-1}][{$j-1}][1]' value='{$vo2[1]}'>
									<input type='hidden' name='term[{$i-1}][{$j-1}][2]' value='{$vo2[2]}'>
									{$vo2[2]}
									<span class='term-close'>X</span>
								</label>						
							{/volist}
						</div>
					{/volist}
				</div>
				<input type="hidden" name="foucus" value="{$Think.post.foucus|default=1}" id="term-foucus">
				<div class="term-but">
					<span  class="btn btn-primary" id="addterm">+添加新的条件</span>
				</div>
			</div>
		</div>
	</form>
		<div class="term-input clearfix">
			<span>组别：</span>
			<select name="1" id="term-group" class="form-control">
				<option value="0">全部</option>
				{volist name="group" id="vo"}
					<option value="{$vo.group_id}">{$vo.group_name}</option>
				{/volist}
			</select>
			<span>职务：</span>
			<select class="form-control" id="term-post">
  				<option value="0">全部</option>
  				<option value="2">事务负责人</option>
  				<option value="1">成员</option>
			</select>
			<span>人员：</span>
			<select class="form-control" id="term-personnel">
				<option value="">全部</option>
  				{volist name="users" id="vo"}
					<option value="{$vo.user_id}">{$vo.name}</option>
				{/volist}
			</select>
		</div>
	
	<div class="table-responsive personnel">
 			<table class="table table-bordered">
				<tr>
					<th>星期一</th>
					<th>星期二</th>
					<th>星期三</th>
					<th>星期四</th>
					<th>星期五</th>
					<th>星期六</th>
					<th>星期日</th>
				</tr>
				{volist name="data" id="vo"}
					<tr>
						{volist name="vo" id="vo2"}
							<td >
								{volist name="vo2" id="vo3"}	
									{$vo3.name},
								{/volist}							
							</td>
						{/volist}						
					</tr>
				{/volist}
 			</table>
	</div>
</div>
<script>
	$('.menu li:eq(1)').css('background','black');

	$('#seestatus').find("option[value={$Think.post.status|default=1}]").attr("selected",true);
	$('#weeks').find("option[value={$Think.post.week|default=0}]").attr("selected",true);
	$('#weeks').on('change', function(event) {
		$('#test').submit();
	});
	$('#seestatus').on('change', function(event) {
		$('#test').submit();
	});
	$('.term-label').on('click', '.term-label2', function(event) {
		if(!$(this).hasClass('foucus')){
			$('.term-label2').each(function(index, el) {
				if($(this).hasClass('foucus')){
					$(this).removeClass('foucus');
				}
			});
			$(this).addClass('foucus');
			$('#term-foucus').val($(this).index()+1);
		}
	});

	/**
	 * 去除条件
	 * @param  {[type]} event) {		$(this).parent().remove();	} [description]
	 * @return {[type]}        [description]
	 */
	$('.term-label').on('click', '.term-close', function(event) {
		$(this).parent().remove();
		$('#test').submit();
	});

	$('#addterm').on('click', function(event) {
		$('.term-label2').each(function(index, el) {
			if($(this).hasClass('foucus')){
				$(this).removeClass('foucus');
			}
		});
		$('.term-label').append("<div class='term-label2 foucus'></div>");
		$('#term-foucus').val($('.foucus').index()+1);
	});

	$('#term-group').on('change', function(event) {

		var text = $(this).find('option:selected').text();
		var val = $(this).val()
		if(val != 0){
			clearTerm("group_id");
			$('.foucus').append(getLabel(text, val, "group_id"));
			$('#test').submit();
		}
	});
	$('#term-post').on('change', function(event) {
		var text = $(this).find('option:selected').text();
		var val = $(this).val()
		if(val != 0){
			clearTerm("position");
			$('.foucus').append(getLabel(text, val, "position"));
			$('#test').submit();
		}
	});
	$('#term-personnel').on('change', function(event) {
		var text = $(this).find('option:selected').text();
		var val = $(this).val()
		if(val != 0){
			clearTerm("user_id");
			$('.foucus').append(getLabel(text, val, "user_id"));
			$('#test').submit();
		}
	});

    function getLabel(text, val, clum){

   		var labindex = $('.foucus').find('label:last-child').index();
		var foucusindex = $('.foucus').index();
		
		var datatext = "<input type='hidden' name='term["+foucusindex+"]["+(labindex+1)+"][0]' value='"+clum+"'><input type='hidden' name='term["+foucusindex+"]["+(labindex+1)+"][1]' value='"+val+"'><input type='hidden' name='term["+foucusindex+"]["+(labindex+1)+"][2]' value='"+text+"'>";
		var htmltext = "<label>"+datatext+text+"<span class='term-close'>X</span></label>";
		return htmltext;
    }
    function clearTerm(label){
		 $('.foucus>label').each(function(index, el) {
			if($(this).find('input:eq(0)').val() == label){
				$(this).remove();
			}
		});
	}
</script>
{/block}