{extend name="public/base" /}
{block name="link"}
	<link rel="stylesheet" href="{$Think.config.parse_str.__CSS__}schedule-count.css">
{/block}
{block name="main"}
<div>
	<form action="{:url('Schedule/test')}" method="post" id="test">
		<div class="setup clearfix">
			<span>当前周：</span>
			<select class="form-control" name="week" id="weeks">
				<option value='0'>本周</option>
				<option value='1'>第1周</option>
				<option value='2'>第2周</option>
				<option value='3'>第3周</option>
				<option value='4'>第4周</option>
				<option value='5'>第5周</option>
				<option value='6'>第6周</option>
				<option value='7'>第7周</option>
				<option value='8'>第8周</option>
				<option value='9'>第9周</option>
				<option value='10'>第10周</option>
				<option value='11'>第11周</option>
				<option value='12'>第12周</option>
				<option value='13'>第13周</option>
				<option value='14'>第14周</option>
				<option value='15'>第15周</option>
				<option value='16'>第16周</option>
				<option value='17'>第17周</option>
				<option value='18'>第18周</option>
				<option value='19'>第19周</option>
				<option value='20'>第20周</option>
			</select>	
			<div class="seeStatus">
				<span>
					查看：
				</span>
				<select class="form-control" name="status" id="seestatus">
					<option value='1'>有课人员表</option>
					<option value='2'>无课人员表</option>
				</select>
			</div>			
		</div>
		<div class="term">
			<div class="term-result clearfix">
				<label for="">筛选条件：</label>
				<div class="term-label">
					<input type="hidden"  id="term">
					<div class="term-label2 foucus">
						
					</div>
				</div>
				<div class="term-but">
					<span  class="btn btn-primary" id="addterm">+添加新的条件</span>
				</div>
			</div>
		</div>
	</form>
		<div class="term-input clearfix">
			<span>组别：</span>
			<select name="1" id="term-group" class="form-control">
				<option value="0">全部</option>
				{volist name="group" id="vo"}
					<option value="{$vo.group_id}">{$vo.group_name}</option>
				{/volist}
			</select>
			<span>职务：</span>
			<select class="form-control" id="term-post">
  				<option value="0">全部</option>
  				<option value="2">事务负责人</option>
  				<option value="1">成员</option>
			</select>
			<span>人员：</span>
			<select class="form-control" id="term-personnel">
				<option value="">全部</option>
  				{volist name="user" id="vo"}
					<option value="{$vo.user_id}">{$vo.name}</option>
				{/volist}
			</select>
		</div>
	
	<div class="table-responsive personnel">
 			<table class="table table-bordered">
				<tr>
					<th>星期一</th>
					<th>星期二</th>
					<th>星期三</th>
					<th>星期四</th>
					<th>星期五</th>
					<th>星期六</th>
					<th>星期日</th>
				</tr>
				{volist name="data" id="vo"}
					<tr>
						{volist name="vo" id="vo2"}
							<td >
								{volist name="vo2" id="vo3"}	
									{$vo3.name},
								{/volist}							
							</td>
						{/volist}						
					</tr>
				{/volist}
 			</table>
	</div>
</div>
<script>
	
	$('#seestatus').find("option[value={$Think.post.status|default=1}]").attr("selected",true);
	$('#weeks').find("option[value={$Think.post.week|default=0}]").attr("selected",true);
	$('#weeks').on('change', function(event) {
		$('#test').submit();
	});
	$('#seestatus').on('change', function(event) {
		$('#test').submit();
	});
	$('.term-label').on('click', '.term-label2', function(event) {
		if(!$(this).hasClass('foucus')){
			$('.term-label2').each(function(index, el) {
				if($(this).hasClass('foucus')){
					$(this).removeClass('foucus');
				}
			});
			$(this).addClass('foucus');
		}
	});

	/**
	 * 去除条件
	 * @param  {[type]} event) {		$(this).parent().remove();	} [description]
	 * @return {[type]}        [description]
	 */
	$('.term-label').on('click', '.term-close', function(event) {
		$(this).parent().remove();
	});

	$('#addterm').on('click', function(event) {
		$('.term-label').append("<div class='term-label2'></div>");
	});

	$('#term-group').on('change', function(event) {
		var text = $(this).find('option:selected').text();
		var val = $(this).val()
		if(val != 0){
			var htmltext = "<label data-where='group_id' data-val='"+val+"'>"+text+"<span class='term-close'>X</span></label>"
			$('.foucus').append(htmltext);
		}
		$('#term').val(getTerm());
		$('#test').submit();

	});
	$('#term-post').on('change', function(event) {
		var text = $(this).find('option:selected').text();
		var val = $(this).val()
		if(val != 0){
			var htmltext = "<label data-where='position' data-val='"+val+"'>"+text+"<span class='term-close'>X</span></label>"
			$('.foucus').append(htmltext);
		}
		$('#term').val(getTerm());
		$('#test').submit();
	});
	$('#term-personnel').on('change', function(event) {
		var text = $(this).find('option:selected').text();
		var val = $(this).val()
		if(val != 0){
			var htmltext = "<label data-where='user_id' data-val='"+val+"'>"+text+"<span class='term-close'>X</span></label>"
			$('.foucus').append(htmltext);
		}
		$('#term').val(getTerm());
		$('#test').submit();
	});


	function getTerm(){
		var where = new Array('1','2');
		// var where = "";
 	// 	$('.term-label2').each(function(index, el) {
 	// 		var labels = $(this).find('label');
 	// 		if(labels.length){
 	// 			if(index != 0) where += " OR ";	
	 // 			var termlabel = labels.length;
	 // 			where += " (";
		// 		labels.each(function(index2, el2) {
		// 			var labval = $(this).data('val');
		// 			var labwhere = $(this).data('where');
		// 			var mark = "=";
		// 			if(labwhere == 'position')
		// 				if(labval != 1){
		// 					mark = "!=";
		// 					labval = 0;	
		// 				} 
	 // 				where += labwhere+mark+labval;
	 // 				if(index2 != termlabel-1) where += " AND ";
	 // 			});
	 // 			where += ") ";
 	// 		}
 	// 	});
 		return where; 
	}
</script>
{/block}